---
layout: default
---

<head>
<meta name="facebook-domain-verification" content="9h7sek9jh3kfgp67ul75f97phht6pq" />
</head>

<article class="hero hero--image " style="--image-url: url(https://a.pirati.cz/praha/img/heronew2c.png)">
  <div class="container grid lg:grid-rows-4 lg:grid-cols-7 gap-2 items-center">
    <div class="lg:row-span-4 lg:col-span-3 order-1">
      <h1 class="head-alt-md md:head-alt-xl"><br /> <br /> <br /> </h1>
    </div>
    <div class="lg:row-span-1 lg:col-span-3 order-3">
      <div class="mt-4 md:mt-8 space-y-4">
        <button class="btn btn--white btn--fullwidth md:btn--autowidth text-lg">
          <div class="btn__body "><a href="https://praha.pirati.cz/aktuality/praha-predstavila-kandidaty-do-snemovny.html">Náš pražský sněmovní tým</a></div>
        </button>
<br />
        <button class="btn btn--white btn--fullwidth md:btn--autowidth text-lg">
          <div class="btn__body "><a href="https://nakopnemeto.pirati.cz/">NAKOPNEME TO!</a></div>
        </button>   
          
          
      </div>
    </div>
    <div class="lg:row-span-5 lg:col-span-4 order-2">
      <img src="https://a.pirati.cz/praha/img/hero3b.png" />
    </div>
  </div>
</article>

<div class="container container--default pt-4 lg:pb-24">
  <br />
  {% include homepage/news.html title="Aktuality z Magistrátu" %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
  <!-- {% include homepage/countdown.html deadline="2026-09-23 14:00:00" %} -->
</div>
